/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Page background */
body {
  background: url(fest.jpg);
  background-position: center;
  backdrop-filter: blur(20px);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

img {
  position: fixed;
  margin-left: 61%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  filter: brightness(1) blur(.7px);
}

#bg-image {
  position: fixed;
  margin-left: -61%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
  filter: brightness(1) blur(.7px);
}

/* Header */
h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,;
  margin-bottom: 25px;
  font-size: 2.rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 10px #1e242366;
}
h2{
  color: #000000;
}

/* Form container */
form {
  background: rgba(5, 5, 5, 0.1);
  border-radius: 15px;
  padding: 30px 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

/* Labels and inputs */
label {
  font-weight: 600;
  font-size: 0.95rem;
}

input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  background: #f9f9f9;
  color: #222;
  font-family:  'Helvetica', sans-serif;
  font-weight: bold;
}

/* Pay button */
button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: #000000;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

button:hover {
  background: #00a123;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 255, 204, 0.3);
}

/* Small responsive tweak */
@media (max-width: 480px) {
  form {
    padding: 25px 20px;
  }

  h1 {
    font-size: 1.6rem;
  }
}
